@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../quasar-variables.sass";


body {
    background-color: $background-default;
    font-family: 'Poppins', sans-serif !important;
}

.gradient-text {
  background: linear-gradient(270deg, $secondary, $primary, $secondary);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animatedGradient 3s ease infinite alternate;
}